{% extends 'layout.html' %}
{% load groupfilters %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block extra_css %}
    <link rel = "stylesheet" href="{% static 'users/css/profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="profile-container">
    <!-- Profile Image -->
        <img class="profile-img" src="
        {% if user|has_group:'Student' and user.student.profile_img.url %}
            {{ user.student.profile_img.url }}
        {% elif user|has_group:'Teacher' and user.teacher.profile_img.url %}
            {{ user.teacher.profile_img.url }}
        {% elif user|has_group:'Registrar' %}
            {{ user.registrar.profile_img.url }}
        {% else %}
            {% static 'users/profile_imgs/default.png' %}
        {% endif %}" alt="{{ user.get_full_name }}">

    <!-- Name -->
    <div class="user-name">{{ user.get_full_name }}</div>

    <!-- Role Badge -->
    <div class="role-badge badge rounded-pill text-dark ms-2 small {% if user|has_group:'Student' %}role-student{% elif user|has_group:'Teacher' %}role-teacher{% elif user|has_group:'Registrar' %}role-registrar{% else %}role-default{% endif %}">
        {% if user|has_group:'Student' %}
        <i class="fas fa-user-graduate"></i> Student
        {% elif user|has_group:'Teacher' %}
        <i class="fas fa-chalkboard-teacher"></i> Teacher
        {% elif user|has_group:'Registrar' %}
        <i class="fas fa-user-shield"></i> Registrar
        {% else %}
        <i class="fas fa-user"></i> User
        {% endif %}
    </div>

    <!-- Extra Details -->
    <div class="profile-details ">

        {% comment %} Common fields {% endcomment %}
        <p><strong>Username:</strong> {{ user }}</p>
        <p><strong>Name:</strong> {{ user.first_name }}</p>
        <p><strong>Surname:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> 
            {% if user.email %}
                {{ user.email }}
            {% else %}
                none
            {% endif %}
        </p>

        {% if user|has_group:"Student" %}
            <p><strong>Department:</strong> {{ user.student.department.name }}</p>
            <p><strong>GPA:</strong> {{ user.student.gpa }}</p>
            {% if user.student.advisor %}
                <p><strong>Advisor:</strong> {{ user.student.advisor }}</p>
            {% endif %}
        {% elif user|has_group:"Teacher" %}
            <p><strong>Department:</strong> {{ user.teacher.department.name }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
