{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Departments Panel
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'departments/css/styles.css' %}">
{% endblock %}
{% block content %}
<div class="panel-header d-flex justify-content-between align-items-center mb-4">
    <h1 class="m-0">Departments</h1>
    <a class="btn btn-success add-btn" href="{% url 'departments:add' %}" >
        <i class="fas fa-plus me-1"></i> Add Department
    </a>
</div>

<div class="departments-container">
    {% if form %}
    <form class = 'department-card' method = 'post' action = "{% url 'departments:add' %}"/>
        {% csrf_token %}
        <h3 class="department-name">
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error-message">
                    {{ form.name.errors.0 }}
                </div>
            {% endif %}
        </h3>
        <div class="department-buttons">
            <a class="btn add-btn" href="{% url 'departments:add' %}">
                <i class="fas fa-building me-1"></i> Add Department
            </a>
        </div>
    </form>
    {% endif %}

    {% for department in departments %}
    <div class="department-card">
        <h3 class="department-name">{{ department.name }}</h3>
        <div class="department-buttons">
            <a href="{% url 'home' %}" class="btn btn-edit">
                <i class="fas fa-pen"></i> Edit
            </a>
            <a href="{% url 'home'  %}" class="btn btn-delete">
                <i class="fas fa-trash-alt"></i> Delete
            </a>
            <a href="{% url 'home' %}" class="btn btn-courses">
                <i class="fas fa-book"></i> Courses
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
